:root {
  --cookie-dialog-monster-color-primary: #3dd9eb;
  --cookie-dialog-monster-color-secondary: #34495e;
  --cookie-dialog-monster-color-success: #5cb85c;
  --cookie-dialog-monster-color-tertiary: #6b7280;
  --cookie-dialog-monster-color-white: #ffffff;
}

#explanation {
  border: 1px solid black;
  border-radius: 8px;
  background-color: var(--cookie-dialog-monster-color-white);
  color: var(--cookie-dialog-monster-color-tertiary);
  font-family: inherit !important;
  height: 85px;
  padding-top: 5px;
  padding-left: 10px;
  resize: none;
  width: 100%;
}

#explanation::placeholder {
  color: var(--cookie-dialog-monster-color-tertiary);
  opacity: 0.5;
}

#report-dialog {
  background-color: var(--cookie-dialog-monster-color-white);
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--cookie-dialog-monster-color-secondary);
  font-size: 100%;
  margin: auto !important;
  padding: 0px !important;
  text-align: left !important;
  width: 320px;
}

#report-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#report-dialog * {
  box-sizing: border-box;
  visibility: visible !important;
}

report-dialog-body {
  display: block;
  font-size: 14px;
  line-height: 14px;
  padding: 16px;
}

report-dialog-body-text {
  display: block;
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

report-dialog-close-button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  margin: 0px;
  outline: none !important;
  padding: 0px;
  transition: 0.4s;
}

report-dialog-close-button {
  stroke: var(--cookie-dialog-monster-color-white);
}

report-dialog-close-button:focus,
report-dialog-close-button:hover > svg {
  stroke: var(--cookie-dialog-monster-color-secondary);
}

report-dialog-close-button:focus,
report-dialog-close-button:hover {
  background-color: var(--cookie-dialog-monster-color-white);
}

report-dialog-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

report-dialog-form-view {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

report-dialog-form-view[hidden] {
  display: none;
}

report-dialog-header {
  align-items: center;
  background-color: var(--cookie-dialog-monster-color-secondary);
  display: flex;
  font-size: 16px;
  height: 54px;
  justify-content: space-between;
  line-height: 16px;
  padding: 16px;
}

report-dialog-header-title {
  color: var(--cookie-dialog-monster-color-white);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

report-dialog-radio {
  color: var(--cookie-dialog-monster-color-tertiary);
  cursor: pointer;
  display: block;
  font-family: Inter, Arial, Helvetica, sans-serif;
  outline: none !important;
  padding-left: 24px;
  position: relative;
}

report-dialog-radio[aria-checked='true']:after {
  opacity: 1;
  transform: scale(1, 1);
}

report-dialog-radio:after {
  background-color: var(--cookie-dialog-monster-color-primary);
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  display: block;
  height: 8px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 3px;
  transform: scale(0, 0);
  transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  width: 8px;
}

report-dialog-radio:focus:not([aria-checked='true']):after,
report-dialog-radio:hover:not([aria-checked='true']):after {
  background: var(--cookie-dialog-monster-color-tertiary);
  opacity: 1;
  transform: scale(1, 1);
}

report-dialog-radio:before {
  background: var(--cookie-dialog-monster-color-white);
  border: 1px solid var(--cookie-dialog-monster-color-tertiary);
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  display: block;
  height: 14px;
  left: 0px;
  margin-right: 5px;
  position: absolute;
  top: 0px;
  width: 14px;
}

report-dialog-radio-group {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

report-dialog-issue-button,
report-dialog-submit-button {
  align-items: center;
  background-color: var(--cookie-dialog-monster-color-secondary);
  border: 1px solid var(--cookie-dialog-monster-color-secondary);
  border-radius: 4px;
  color: var(--cookie-dialog-monster-color-white);
  cursor: pointer;
  display: flex;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 39px;
  justify-content: center;
  outline: none !important;
  padding: 8px 16px;
  text-align: center;
  transition: 0.4s;
  width: 100%;
}

report-dialog-issue-button:focus,
report-dialog-issue-button:hover,
report-dialog-submit-button:focus,
report-dialog-submit-button:hover {
  background-color: var(--cookie-dialog-monster-color-white);
  color: var(--cookie-dialog-monster-color-secondary);
}

report-dialog-issue-button[aria-disabled='true'],
report-dialog-submit-button[aria-disabled='true'] {
  background-color: var(--cookie-dialog-monster-color-tertiary);
  border: 1px solid var(--cookie-dialog-monster-color-tertiary);
  color: var(--cookie-dialog-monster-color-white);
  cursor: not-allowed;
}

report-dialog-submit-extra-text {
  font-family: inherit !important;
  font-size: 14px;
  line-height: 16px;
  margin: 0px;
  text-align: justify;
}

report-dialog-submit-text {
  font-family: inherit !important;
  font-size: 18px;
  line-height: 20px;
  margin: 0px;
  text-align: center;
}

report-dialog-submit-view {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Inter, Arial, Helvetica, sans-serif;
  gap: 24px;
  justify-content: center;
  margin-top: 16px;
}

report-dialog-submit-view[hidden] {
  display: none;
}
