:root {
  --cookie-dialog-monster-color-error: #cc0000;
  --cookie-dialog-monster-color-primary: #3dd9eb;
  --cookie-dialog-monster-color-secondary: #34495e;
  --cookie-dialog-monster-color-success: #5cb85c;
  --cookie-dialog-monster-color-tertiary: #6b7280;
  --cookie-dialog-monster-color-white: #ffffff;
}

#report-dialog {
  background-color: var(--cookie-dialog-monster-color-white);
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--cookie-dialog-monster-color-secondary);
  font-size: 100%;
  letter-spacing: normal;
  margin: auto;
  padding: 0px;
  text-align: left;
  width: 320px;
}

#report-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#report-dialog * {
  box-sizing: border-box;
}

#report-dialog div {
  all: unset;
  display: block;
  box-sizing: border-box;
}

#report-dialog *::-moz-selection {
  color: var(--cookie-dialog-monster-color-white);
  background: var(--cookie-dialog-monster-color-tertiary);
}

#report-dialog *::selection {
  color: var(--cookie-dialog-monster-color-white);
  background: var(--cookie-dialog-monster-color-tertiary);
}

#report-dialog .report-dialog-body {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  padding: 16px;
}

#report-dialog .report-dialog-body-text {
  display: block;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  margin: 0px;
  padding: 0px;
}

#report-dialog .report-dialog-close-button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  margin: 0px;
  outline: none;
  padding: 0px;
}

#report-dialog .report-dialog-close-button {
  stroke: var(--cookie-dialog-monster-color-white);
}

#report-dialog .report-dialog-close-button:focus,
#report-dialog .report-dialog-close-button:hover > svg {
  stroke: var(--cookie-dialog-monster-color-secondary);
}

#report-dialog .report-dialog-close-button:focus-visible {
  box-shadow: initial;
  transition: initial;
}

#report-dialog .report-dialog-close-button:focus,
#report-dialog .report-dialog-close-button:hover {
  background-color: var(--cookie-dialog-monster-color-white);
}

#report-dialog .report-dialog-form {
  display: grid;
  gap: 10px;
}

#report-dialog .report-dialog-form-view {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#report-dialog .report-dialog-form-view[hidden] {
  display: none;
}

#report-dialog .report-dialog-header {
  align-items: center;
  background-color: var(--cookie-dialog-monster-color-secondary);
  display: flex;
  font-size: 16px;
  height: 54px;
  justify-content: space-between;
  line-height: 1.2;
  padding: 16px;
}

#report-dialog .report-dialog-header-title {
  color: var(--cookie-dialog-monster-color-white);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

#report-dialog .report-dialog-input {
  all: unset;
  border: 1px solid var(--cookie-dialog-monster-color-tertiary);
  border-radius: 4px;
  color: var(--cookie-dialog-monster-color-secondary);
  cursor: text;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1;
  outline: none;
  padding: 12px 8px;
}

#report-dialog .report-dialog-input:hover {
  border-color: var(--cookie-dialog-monster-color-secondary);
}

#report-dialog .report-dialog-input:focus {
  border-color: var(--cookie-dialog-monster-color-primary);
}

#report-dialog .report-dialog-input:focus-visible {
  box-shadow: initial;
  transition: initial;
}

#report-dialog .report-dialog-input::-webkit-scrollbar {
  display: none;
}

#report-dialog .report-dialog-input[aria-invalid='true'] {
  border-color: var(--cookie-dialog-monster-color-error);
}

#report-dialog .report-dialog-input[aria-invalid='true'] + .report-dialog-input-error {
  visibility: visible;
}

#report-dialog .report-dialog-input[aria-multiline='false'] {
  -ms-overflow-style: none;
  display: flex;
  height: 40px;
  overflow-x: auto;
  scrollbar-width: none;
  text-wrap: nowrap;
}

#report-dialog .report-dialog-input[aria-multiline='true'] {
  -ms-overflow-style: none;
  height: 120px;
  overflow-y: auto;
  scrollbar-width: none;
}

#report-dialog .report-dialog-input-error {
  color: var(--cookie-dialog-monster-color-error);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 1.2;
  visibility: hidden;
}

#report-dialog .report-dialog-input-group {
  display: grid;
  gap: 4px;
}

#report-dialog .report-dialog-input-label {
  color: var(--cookie-dialog-monster-color-secondary);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2;
}

#report-dialog .report-dialog-input-label-required {
  color: var(--cookie-dialog-monster-color-error);
}

#report-dialog .report-dialog-issue-button,
#report-dialog .report-dialog-submit-button {
  align-items: center;
  background-color: var(--cookie-dialog-monster-color-secondary);
  border: 1px solid var(--cookie-dialog-monster-color-secondary);
  border-radius: 4px;
  color: var(--cookie-dialog-monster-color-white);
  cursor: pointer;
  display: flex;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 42px;
  justify-content: center;
  line-height: 1.2;
  outline: none;
  padding: 8px 16px;
  text-align: center;
  width: 100%;
}

#report-dialog .report-dialog-issue-button:focus,
#report-dialog .report-dialog-issue-button:hover,
#report-dialog .report-dialog-submit-button:focus,
#report-dialog .report-dialog-submit-button:hover {
  background-color: var(--cookie-dialog-monster-color-white);
  color: var(--cookie-dialog-monster-color-secondary);
}

#report-dialog .report-dialog-issue-button:focus-visible,
#report-dialog .report-dialog-submit-button:focus-visible {
  box-shadow: initial;
  transition: initial;
}

#report-dialog .report-dialog-issue-button[aria-disabled='true'],
#report-dialog .report-dialog-submit-button[aria-disabled='true'] {
  background-color: var(--cookie-dialog-monster-color-tertiary);
  border: 1px solid var(--cookie-dialog-monster-color-tertiary);
  color: var(--cookie-dialog-monster-color-white);
  cursor: not-allowed;
}

#report-dialog .report-dialog-submit-extra-text {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.2;
  margin: 0px;
  text-align: justify;
}

#report-dialog .report-dialog-submit-text {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.2;
  margin: 0px;
  text-align: center;
}

#report-dialog .report-dialog-submit-view {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Inter, Arial, Helvetica, sans-serif;
  gap: 24px;
  justify-content: center;
  margin-top: 16px;
}

#report-dialog .report-dialog-submit-view[hidden] {
  display: none;
}
